@font-face
	font-family "Freestyle Script"
	src url(../fonts/10036.ttf)

*
	margin 0
	padding 0 
	box-sizing border-box

body
	font-family 'Open Sans', sans-serif
	font-size 14px
	line-height 22px
	font-weight 400
	color #555555

h1
	margin 0

li
	list-style none
	outline none

img 
	max-width 100%

a
	text-decoration none
	color #555555

.wrapper
	margin 0 auto
	padding 0 20px
	max-width 1250px

	&-header
		margin 0 auto
		padding 0 20px
		max-width 860px

	&-big
		margin 0 auto
		max-width 1920px

.main-header
	z-index 9
	position fixed
	top 0
	left 0
	right 0
	margin 0 auto
	background-color #fff

.main
	&-logo
		margin 0 140px
		height 100%
		
		&__img
			width 68px
			height 68px

		&__link
			display block
			height 68px

	&-nav
		display flex
		align-items center
		font-size 14px
		line-height 24px

	&-menu
		display flex
		width 100%
		max-width 260px

		&--to-right
			justify-content flex-end
			width 200px

		&__item
			display flex
			align-items center
			margin 0 12.5px
			min-height 100px

		&__link
			position relative

			&:hover
				color #5363db

				&::after
					content ''
					position absolute
					bottom 0
					left 50%
					width 55%
					height 1px
					background-color #5363db
					transform translateX(-50%)

.general
	max-height 700px
	overflow hidden

	&-container
		display flex
		justify-content center
		padding-top 200px
		width 100%
		max-width 1920px
		height 762px
		background url('../img/bg.png') center no-repeat
		background-size cover

	&-form
		padding 35px 30px
		width 100%
		max-width 300px
		height 390px
		border-radius 20px
		background-color #fff
		box-shadow 10px 10px 25px 2px #23232338

		&__name
			margin-bottom 25px
			font-size 26px
			color #5363db

		&__field
			padding 0 10px
			width 100%
			height 50px
			font-weight 600
			border 0px
			border-radius 10px
			background-color #f2f2f2
			outline none

			& + &
				margin-top 17px

		&__field + &__btn-wrapper
			margin-top 30px

		&__btn-wrapper
			display flex
			justify-content flex-end
			width 100%
			height 50px
			
		&__btn
			width 100%
			max-width 170px
			font-weight 700
			color #fff
			background-color #5b6ceb
			cursor pointer

	&-form + &-info
		margin-left 85px

	&-info
		padding-top 50px
		max-width 515px
		color #fff
	
	&-col
		display flex
		width 50%

		&--left
			justify-content flex-end
			padding-right 20px

		&--right
			padding-left 65px

	&-header
		max-width 485px
		font-size 48px
		line-height 72px
		font-weight 700
		text-transform uppercase

.subtitle
	padding-top 35px
	max-width 280px
	font-family "Freestyle Script", sans-serif
	font-size 40px
	line-height 45px

.secondary-header
	font-size 30px
	line-height 34px
	font-weight 700
	text-transform uppercase
	color #5b6ceb

.classes
	padding 110px 0 120px

	&-caption
		display flex
		flex-direction column
		align-items center

	.subtitle
		padding-top 18px
		color #777777
	
	&-container
		margin-top 65px

	&__img
		width 100%
		max-width 270px

	&-list
		display flex
		flex-wrap wrap

		&__item
			display flex
			margin 0 15px 25px
			width 100%
			max-width 575px
			height 300px
			border-radius 10px
			box-shadow 10px 10px 30px 2px #eeeeee

		&__text
			padding 45px 30px 30px
			width 100%

		&__title
			margin-bottom 30px
			font-size 20px
			line-height 20px
			font-weight 700
			color #777777
			text-transform uppercase

		&__description
			max-width 222px

			&--color
				color #999999

			& + &
				margin-top 10px

.gallery

	&-list
		display flex
		flex-wrap wrap

		&__item
			position relative
			width 100%
			max-width 480px
			height 350px

			&:hover .gallery-hover
				visibility visible
				transition all 0.4s
				cursor pointer

			img
				line-height 0
				width 100%
				height 100%

.gallery-hover
	position absolute
	top 0
	left 0
	display flex
	justify-content center
	align-items center
	width 100%
	height 100%
	background-color #7c89ef
	visibility hidden
	opacity 0.9

	&__search
		position relative
		width 57px
		height 57px
		border-radius 50%
		background-color #fff

		&::before
			content ''
			position absolute
			top 50%
			left 50%
			width 24px
			height 24px
			background url('../img/photo-hover.png') center no-repeat
			transform translate(-50%, -50%)

.about
	//padding 0 125px
	height 550px

.elements

	&-container
		padding 75px 0 125px
		width 100%
		max-width 1920px
		min-height 800px
		background url('../img/bg-2.png') center no-repeat
		background-size cover

	&-list
		display flex
		justify-content center
		flex-wrap wrap
		color #fff

		&__item
			display flex
			flex-direction column
			align-items center
			margin 50px 15px 0
			width 100%
			max-width 270px

		&__img
			width 70px
			height 70px
			line-height 0

		&__title
			padding-top 25px
			max-width 195px
			min-height 100px
			font-size 18px
			line-height 27px
			font-weight 700
			text-transform uppercase
			text-align center

		&__text
			font-size 16px
			line-height 27px
			text-align center

.shop
	padding-top 100px
	min-height 1150px
	overflow hidden

	.wrapper-big
		position relative

	&-bg
		z-index -1
		position absolute
		bottom -410px
		right -30px
		object-fit cover

	&-list
		display flex
		justify-content space-between
		padding-bottom 105px

		&__item
			position relative
			width 100%
			max-width 370px
			min-height 495px
			border-radius 10px
			background-color #fff
			overflow hidden
			box-shadow 10px 10px 35px 15px #e2e0e0b3

		&__container
			display flex
			justify-content center
			height 57px
	
		&__price
			padding-top 45px
			height 150px
			color #fff
			font-weight 700
			background-color #5b6ceb

			& span 
				display flex
				align-items flex-end
				font-size 18px
				text-transform uppercase

			& span:nth-child(1)
				align-items center
				padding-right 18px
				font-size 32px
				line-height 32px
			
			& span:nth-child(2)
				padding-right 5px
				font-size 67px
				line-height 58px
		
	&-info
		display flex
		flex-direction column
		align-items center
		padding 30px 0
		width 100%

		&__item
			position relative
			height 62px
			font-size 18px
			line-height 62px
			color #555555
			text-transform uppercase

			&--line::after
				content ''
				position absolute
				bottom 0
				left 50%
				width 100px
				height 1px
				background-color #d7d7d7
				transform translateX(-50%)
	
	&-container
		position absolute
		bottom 50px
		left 50%
		width 170px
		transform translateX(-50%)

	&-container:hover + .shop-list__price
		background-color #2739c3
		transition all 0.3s

	&-button
		width 170px
		height 50px
		font-size 18px
		font-weight 600
		color #fff
		background-color #5b6ceb
		border none
		border-radius 20px
		outline none
		cursor pointer

		&:hover
			background-color #2739c3
			transition all 0.3s

.staff
	display flex
	padding 38px 140px 38px 60px
	width 100%
	min-height 250px
	background-color #fff
	box-shadow 10px 10px 35px 15px #e2e0e0b3

	&__img
		width 148px
		height 148px

	&-description
		position relative
		margin-top 10px
		padding 0 45px 0 80px
		max-width 800px
		font-style italic

		&:after
			content ''
			position absolute
			top 50%
			left 45px
			width 2px
			height 75px
			background-color #d7d7d7
			transform translateY(-50%)

	&-quotes
		position absolute
		font-size 60px
		font-style normal
		color #5b6ceb

		&--first
			top 15px
			left 36px

		&--last
			bottom 80px
			right -30px

	&-position
		margin-top 25px
		font-style normal

	&-name
		font-size 16px
		font-style normal
		font-weight 700
		color #5b6ceb

	&-nav
		width 100%
		max-width 280px

