@media screen and (max-width: 1440px)

	.personnel
		.slick-dots
			transform translate(800px, -190px) rotate(90deg)

@media screen and (max-width: 1360px)

	.personnel
		.slick-dots
			transform translate(-435px, -190px) rotate(90deg)
	
	.shop-list
		flex-wrap wrap
		justify-content space-around

		&__item
			margin-bottom 40px

			& + &
				margin-left 0

@media screen and (max-width: 1280px)

	.about
		&-container
			flex-direction column
			align-items center

		&-col
			text-align center

			& + &
				margin-top 70px

		&-text
			max-width none

	.shop 
		.wrapper-big
			padding 0 70px
			max-width 1920px
	
	.gallery-list
		justify-content center

		&__item
			width 300px

	.main-footer
		&__col
			padding 0 40px 50px

@media screen and (max-width: 1024px)

	.main-header
		margin 0
		width 100vw
		height 100px

	.open-nav
		position fixed
		left -100vw
		align-items flex-start
		margin-top 100px
		transition all 0.3s

		&--active
			transform translateX(100vw)

	.menu-open
		display block

	.main-menu
		flex-direction column
		min-width 50vw
		background-color #d1d6ff

		& + &
			margin-left 0
		
		&__item
			margin 0
			width 100%
			min-height 60px
			transition all 0.3s
		
		&__item + &__item
			margin-left 0
			
		&__link
			display flex
			justify-content center
			align-items center
			width 100%
			min-height 60px

			&:hover
				&::after
					width 30%
					height 1px
					background-color #5363db
					transform translate(-50%, -10px)
		
	.main-nav
		width 100%
		max-width 100%
		flex-direction column
	
	.elements-list
		&__item
			margin-top 25px

	.shop
		.wrapper-big
			padding 0 25px

		&-list
			flex-direction column
			flex-wrap nowrap
			justify-content flex-start
			align-items center

		&__item
			max-width 320px

			& + &
				margin-left 0
	.personnel 
		.slick-dots
			transform translate(-420px, -190px) rotate(90deg)

	.staff
		&-item
			&__container
				padding 35px
		
		&-description
			padding 0 10px 0 70px
		
		&-quotes
			font-size 45px

			&--first
				top 10px

			&--last
				bottom 20%
				right -20px

@media screen and (max-width: 768px)

	.main
		&-header
			height 60px

		&-logo
			&__img
				width 40px
				height 40px

			&__link
				height 40px

	.menu-open
		top 10px
		left 10px

	.general
		overflow visible

		&-slider
			top -40px

		&-form
			padding 20px 15px
			max-width 270px
			height auto

			&__field
				height 40px

		.selectize-input
			z-index 999
			height 40px

			input
				height 40px

		&-select
			max-width 100%

		&-info
			padding-top 0
			text-align center

		&-col
			justify-content center
			width 100%

			.subtitle
				padding-top 20px
				max-width 100%

			&--left
				margin-top 30px
				padding-right 0
			&--right
				padding-left 0

		&-container
			flex-direction column-reverse
			padding-top 80px
			height auto

	.open-nav
		margin-top 60px

	.classes-list
		&__img
			max-height 300px

		&__text
			padding 25px 20px 20px

	.about

		&-slider
			height auto

		&-col
			display flex
			flex-direction column
			width 100%
			align-items center

		.slick-prev
			left 5px

		.slick-next
			right 5px

	.elements

		&-container
			padding-top 20px

		&-list

			&__item
				margin 25px 0 0

			&__title
				font-size 16px

			&__text
				font-size 14px

			&__img
				width 50px
				height 50px


@media screen and (max-width: 570px)

	.classes-list
		flex-direction column
		flex-wrap nowrap
		align-items center

		&__item
			margin 0 0 25px
			max-width 260px
			height auto
			overflow hidden

		&__link
			flex-direction column
		
		&__img
			width auto
			object-fit cover



@media screen and (max-width: 480px)

	.classes
		&-list
			&__text
				padding 25px 5px 20px

			&__description
				max-width 100%

