@media screen and (max-width: 1440px)

	.personnel
		.slick-dots
			transform translate(800px, -190px) rotate(90deg)

@media screen and (max-width: 1360px)

	.personnel
		.slick-dots
			transform translate(-435px, -190px) rotate(90deg)
	
	.shop-list
		flex-wrap wrap
		justify-content space-around

		&__item
			margin-bottom 40px

			& + &
				margin-left 0

@media screen and (max-width: 1280px)

	.about
		&-container
			flex-direction column
			align-items center

		&-col
			text-align center

			& + &
				margin-top 70px

		&-text
			max-width none

	.shop 
		.wrapper-big
			padding 0 70px
			max-width 1920px
	
	.gallery-list
		justify-content center

		&__item
			width 300px

	.main-footer
		&__col
			padding 0 40px 50px

@media screen and (max-width: 1024px)

	.main-header
		margin 0
		width 100vw
		height 100px

	.open-nav
		position fixed
		left -110vw
		align-items flex-start
		margin-top 100px
		transition all 0.3s

		&--active
			transform translateX(110vw)

	.menu-open
		display block

	.main-menu
		flex-direction column
		min-width 50vw
		background-color #d1d6ff

		& + &
			margin-left 0
		
		&__item
			margin 0
			width 100%
			min-height 60px
			transition all 0.3s
		
		&__item + &__item
			margin-left 0
			
		&__link
			display flex
			justify-content center
			align-items center
			width 100%
			min-height 60px

			&:hover
				&::after
					width 30%
					height 1px
					background-color #5363db
					transform translate(-50%, -10px)
		
	.main-nav
		width 100%
		max-width 100%
		flex-direction column
	
	.elements-list
		&__item
			margin-top 25px

	.shop
		.wrapper-big
			padding 0 25px

		&-list
			flex-direction column
			flex-wrap nowrap
			justify-content flex-start
			align-items center

		&__item
			max-width 320px

			& + &
				margin-left 0
	.personnel 
		.slick-dots
			transform translate(-420px, -190px) rotate(90deg)

	.staff
		&-item
			&__container
				padding 35px
		
		&-description
			padding 0 10px 0 70px
		
		&-quotes
			font-size 45px

			&--first
				top 10px

			&--last
				bottom 20%
				right -20px
		
	.main-footer
		padding-top 45px

		&__col
			padding 0 20px 25px

		&__title + &__content, .main-contacts
			margin-top 30px
		
		&__container
			flex-direction column
			align-items center

@media screen and (max-width: 768px)

	.main
		&-header
			height 60px

		&-logo
			&__img
				width 40px
				height 40px

			&__link
				height 40px

	.menu-open
		top 10px
		left 10px

	.general
		overflow visible

		&-slider
			top -40px

		&-form
			padding 20px 15px
			max-width 270px
			height auto

			&__field
				height 40px

		.selectize-input
			height 40px

			input
				height 40px

			& > *
				height 40px
				line-height 40px

		&-select
			max-width 100%

		&-info
			padding-top 0
			text-align center

		&-col
			justify-content center
			width 100%

			.subtitle
				padding-top 20px
				max-width 100%

			&--left
				margin-top 30px
				padding-right 0
			&--right
				padding-left 0

		&-container
			flex-direction column-reverse
			padding-top 80px
			height auto

	.open-nav
		margin-top 60px

	.classes-list
		&__img
			max-height 300px

		&__text
			padding 25px 20px 20px

	.about

		&-slider
			height auto

		&-col
			display flex
			flex-direction column
			width 100%
			align-items center

		.slick-prev
			left 5px

		.slick-next
			right 5px

	.elements

		&-container
			padding-top 20px

		&-list

			&__item
				margin 25px 0 0

			&__title
				font-size 16px

			&__text
				font-size 14px

			&__img
				width 50px
				height 50px
	.staff
		&-item 
			&__container
				flex-direction column
				align-items center

		&-description
			margin-top 50px
			padding 0
			text-align center

			&:after
				top -65px
				left 50%
				height 100px
				transform translate(-50%, 0) rotate(90deg)

		&-quotes
			&--first
				left -14px
			
			&--last
				bottom 15%
		
		&-nav
			bottom -95px
			left 50%
			transform translateX(-50%)

	.personnel
		.slick-dots
			transform translate(0, 100%)

	.main-footer
		&__col
			width 100%

		&__content
			max-width 100%
		
	.shop
		&-list
			&__item
				padding-bottom 100px
				max-width 300px
				min-height auto

			&__price
				padding-top 30px
				height 120px

				& span:nth-child(1)
					font-size 27px
					line-height 27px
				
				& span:nth-child(2)
					font-size 55px
		
		&-info
			padding 15px 0

@media screen and (max-width: 570px)

	.classes-list
		flex-direction column
		flex-wrap nowrap
		align-items center

		&__item
			margin 0 0 25px
			max-width 260px
			height auto
			overflow hidden

		&__link
			flex-direction column
		
		&__img
			width auto
			object-fit cover
	
	.main-menu
		min-width 100vw

	.shop
		.wrapper--padding
			padding 0

@media screen and (max-width: 480px)

	.general-header
		font-size 36px
		line-height 45px

	.secondary-header
		font-size 30px
		text-align center

	.subtitle
		font-size 26px

	.about 
		.slick-prev
			top 120%
			left 45px

		.slick-next
			top 120%
			right 45px
		
	.staff
		&-item
			&__container
				padding 10px
		
		&-quotes
			&--last
				right -5px
			
			&--first
				top -5px
				left -5px

	.classes
		&-list
			&__text
				padding 25px 5px 20px

			&__description
				max-width 100%
	
	.main-contacts
		flex-direction column
		align-items center

		&__col
			width 100%
			
	.social-link
		justify-content center

	.main-footer
		&__title
			text-align center
		
		&__col + &__col
			margin-top 30px

	.copyright
		padding 20px 0

		&-text + &-logo
			margin-top 20px

