doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Yoga
		link(rel='stylesheet' type='text/css' href='css/normalize.css')
		link(rel='stylesheet' type='text/css' href='css/slick.css')
		link(rel='stylesheet' type='text/css' href='css/slick-theme.css')
		link(rel='stylesheet' type='text/css' href='css/main.css')
		link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700")
	body
		header#header.main-header
			.wrapper-header
				nav.main-nav.open-nav
					.main-logo
						a.main-logo__link(href='index.html')
							img.main-logo__img(src='img/logo.png' alt='alt')
					ul.main-menu
						li.main-menu__item
							a.main-menu__link(href='#') About us
						li.main-menu__item
							a.main-menu__link(href='#') Reservation
						li.main-menu__item
							a.main-menu__link(href='#') Gallery
					ul.main-menu.main-menu--to-right
						li.main-menu__item
							a.main-menu__link(href='#') Blog
						li.main-menu__item
							a.main-menu__link(href='#') Elements
						li.main-menu__item
							a.main-menu__link(href='#') Shop
		section.general
			.wrapper-big
				//- .general-slider
				//- 	.general-slider__item
				//- 			img.general-slider__img(src='img/bg.png' alt='alt')
				//- 	.general-slider__item
				//- 			img.general-slider__img(src='img/bg.png' alt='alt')
				//- 	.general-slider__item
				//- 			img.general-slider__img(src='img/bg.png' alt='alt')
				.general-container
					.general-col.general-col--left
						.general-form
							form(action='#' method='post')
								p.general-form__name Trial Class
								input.general-form__field(type='text' name='name' placeholder='Enter your name')
								input.general-form__field(type='text' name='number' placeholder='Enter your phone')
								input.general-form__field(type='text' name='number' placeholder='Enter your phone')
								.general-form__btn-wrapper
									input.general-form__field.general-form__btn(type='submit' value='Try it')
					.general-col.general-col--right
						.general-info
							h1.general-header Just Balance your Mind & Body
							p.subtitle Create the healthy living for yourself
		section.classes
			.wrapper
				.classes-caption
					h2.secondary-header yoga feature program 
					p.subtitle Our Classes
				.classes-container
					ul.classes-list
						li.classes-list__item
							img.classes-list__img(src='img/classes-1.png' alt='alt')
							.classes-list__text 
								p.classes-list__title Yoga For Health
								p.classes-list__description Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p.classes-list__description.classes-list__description--color Ashtanga - Hatha
						li.classes-list__item
							img.classes-list__img(src='img/classes-2.png' alt='alt')
							.classes-list__text 
								p.classes-list__title Yoga For Lose Weight
								p.classes-list__description Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p.classes-list__description.classes-list__description--color Ashtanga - Hatha
						li.classes-list__item
							img.classes-list__img(src='img/classes-3.png' alt='alt')
							.classes-list__text 
								p.classes-list__title Yoga For Children
								p.classes-list__description Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p.classes-list__description.classes-list__description--color Ashtanga - Hatha
						li.classes-list__item
							img.classes-list__img(src='img/classes-4.png' alt='alt')
							.classes-list__text 
								p.classes-list__title Yoga For Elderly
								p.classes-list__description Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p.classes-list__description.classes-list__description--color Ashtanga - Hatha
		.gallery
			.wrapper-big
				ul.gallery-list
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-1.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-2.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-3.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-4.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-5.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-6.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-7.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-8.png' alt='alt')
		section.about
			.wrapper
				.about-container
					.about-col
						h2.secondary-header about us
						p.about-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor it in lorei voluptate velit esse cillum dolore eu fugiat nulla pariatur lorem ispum loting sokui.
					.about-col.about-col--size
						.about-slider
							.about-item
								.about-item__container
									img.about-slider__img(src='img/about.png' alt='alt')
							.about-item
								.about-item__container
									img.about-slider__img(src='img/about.png' alt='alt')
							.about-item
								.about-item__container
									img.about-slider__img(src='img/about.png' alt='alt')
		.elements
			.wrapper-big
				.elements-container
					.wrapper
						ul.elements-list
							li.elements-list__item
								img.elements-list__img(src='img/icon-1.png' alt='alt')
								p.elements-list__title improved overall health
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							li.elements-list__item
								img.elements-list__img(src='img/icon-2.png' alt='alt')
								p.elements-list__title increased concentration
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							li.elements-list__item
								img.elements-list__img(src='img/icon-3.png' alt='alt')
								p.elements-list__title blance your mind
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							li.elements-list__item
								img.elements-list__img(src='img/icon-4.png' alt='alt')
								p.elements-list__title sleep better
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							li.elements-list__item
								img.elements-list__img(src='img/icon-5.png' alt='alt')
								p.elements-list__title weight loss
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							li.elements-list__item
								img.elements-list__img(src='img/icon-6.png' alt='alt')
								p.elements-list__title strengthens your bones
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							li.elements-list__item
								img.elements-list__img(src='img/icon-7.png' alt='alt')
								p.elements-list__title increased flexibility
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							li.elements-list__item
								img.elements-list__img(src='img/icon-8.png' alt='alt')
								p.elements-list__title lower blood pressure
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
		.shop
			.wrapper-big
				img.shop-bg(src='img/bg-3.png' alt='alt')
				.wrapper
					ul.shop-list
						li.shop-list__item
							.shop-container
								button.shop-button Buy now
							.shop-list__price
								p.shop-list__container
									span $ 
									span 49  
									span / month
							.shop-info
								.shop-info__item.shop-info__item--line entry date: mot – fri
								.shop-info__item.shop-info__item--line entry time: 8a.m – 8p.m
								.shop-info__item nutrition advicer: no
						li.shop-list__item
							.shop-container
								button.shop-button Buy now
							.shop-list__price
								p.shop-list__container
									span $ 
									span 69  
									span / month
							.shop-info
								.shop-info__item.shop-info__item--line entry date: mot – fri
								.shop-info__item.shop-info__item--line entry time: 8a.m – 8p.m
								.shop-info__item nutrition advicer: yes
						li.shop-list__item
							.shop-container
								button.shop-button Buy now
							.shop-list__price
								p.shop-list__container
									span $ 
									span 99  
									span / month
							.shop-info
								.shop-info__item.shop-info__item--line entry date: mot – sun
								.shop-info__item.shop-info__item--line entry time: 8a.m – 8p.m
								.shop-info__item nutrition advicer: yes
				.wrapper
					.personnel
						.staff
							.staff-item
								.staff-item__container
									.staff__img
										img(src='img/photo-trainer-1.png' alt='alt') 
									.staff-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
										span.staff-quotes.staff-quotes--first “
										span.staff-quotes.staff-quotes--last ”
										p.staff-position Trainer
										p.staff-name Laura Shepard
							.staff-item
								.staff-item__container
									.staff__img
										img(src='img/photo-next.png' alt='alt') 
									.staff-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
										span.staff-quotes.staff-quotes--first “
										span.staff-quotes.staff-quotes--last ”
										p.staff-position Trainer
										p.staff-name Sara Taylor
							.staff-item
								.staff-item__container
									.staff__img
										img(src='img/photo-trainer-1.png' alt='alt') 
									.staff-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
										span.staff-quotes.staff-quotes--first “
										span.staff-quotes.staff-quotes--last ”
										p.staff-position Trainer
										p.staff-name Laura Shepard
							.staff-item
								.staff-item__container
									.staff__img
										img(src='img/photo-next.png' alt='alt') 
									.staff-description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
										span.staff-quotes.staff-quotes--first “
										span.staff-quotes.staff-quotes--last ”
										p.staff-position Trainer
										p.staff-name Sara Taylor
						.staff-nav
							.staff-nav__item
								.staff-nav__unit
									.staff-nav__img 
										img(src='img/photo-next.png' alt='alt') 
									.staff-nav__master
										p.staff-nav__name Sara Taylor
										p.staff-nav__position Trainer
							.staff-nav__item
								.staff-nav__unit
									.staff-nav__img 
										img(src='img/photo-trainer-1.png' alt='alt') 
									.staff-nav__master
										p.staff-nav__name Laura Shepard
										p.staff-nav__position Trainer
							.staff-nav__item
								.staff-nav__unit
									.staff-nav__img 
										img(src='img/photo-next.png' alt='alt') 
									.staff-nav__master
										p.staff-nav__name Sara Taylor
										p.staff-nav__position Trainer
							.staff-nav__item
								.staff-nav__unit
									.staff-nav__img 
										img(src='img/photo-trainer-1.png' alt='alt') 
									.staff-nav__master
										p.staff-nav__name Laura Shepard
										p.staff-nav__position Trainer
		footer.main-footer
			.wrapper
				.main-footer__container
					.main-footer__col
						p.main-footer__title about
						p.main-footer__content Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.
						.social-link
							a.social-link__item(href='#')
								img.social-link__icon(src='img/social-1.png' alt='alt')
							a.social-link__item(href='#')
								img.social-link__icon(src='img/social-2.png' alt='alt')
							a.social-link__item(href='#')
								img.social-link__icon(src='img/social-3.png' alt='alt')
							a.social-link__item(href='#')
								img.social-link__icon(src='img/social-4.png' alt='alt')
							a.social-link__item(href='#')
								img.social-link__icon(src='img/social-5.png' alt='alt')
					.main-footer__col
						p.main-footer__title contact us
						.main-contacts
							.main-contacts__col
								.main-contacts__item
									img.main-contacts__icon(src='img/location.png' alt='alt')
									p 5419 Joseph Mountains 
										span Apt. 716
								.main-contacts__item
									img.main-contacts__icon(src='img/phone-call.png' alt='alt')
									p.main-contacts__numbers
										span +1 234 567 89
										span +1 234 567 89
							.main-contacts__col
								.main-contacts__item
									img.main-contacts__icon.main-contacts__icon--small(src='img/mail.png' alt='alt')
									p
										a(href='#') joga.info@example.com
								.main-contacts__item
									img.main-contacts__icon.main-contacts__icon--position(src='img/planet-earth.png' alt='alt')
									p
										a(href='#') www.example.com
			.copyright
				p.copyright-text Copyright  ©  2016-2017 Yoga classes
				img.copyright-logo(src='img/logo-dzencode.png' alt='alt')

						



		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='js/slick.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js')
		script(src='js/common.js')
						

						








						 

			