doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Yoga
		link(rel='stylesheet' type='text/css' href='css/normalize.css')
		link(rel='stylesheet' type='text/css' href='css/slick.css')
		link(rel='stylesheet' type='text/css' href='css/main.css')
		link(rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700")
	body
		header#header.main-header
			.wrapper-header
				nav.main-nav.open-nav
					ul.main-menu
						li.main-menu__item
							a.main-menu__link(href='#') About us
						li.main-menu__item
							a.main-menu__link(href='#') Reservation
						li.main-menu__item
							a.main-menu__link(href='#') Gallery
					.main-logo
						a.main-logo__link(href='index.html')
							img.main-logo__img(src='img/logo.png' alt='alt')
					ul.main-menu.main-menu--to-right
						li.main-menu__item
							a.main-menu__link(href='#') Blog
						li.main-menu__item
							a.main-menu__link(href='#') Elements
						li.main-menu__item
							a.main-menu__link(href='#') Shop
		section.general
			.wrapper-big
				.general-container
					.general-col.general-col--left
						.general-form
							form(action='#' method='post')
								p.general-form__name Trial Class
								input.general-form__field(type='text' name='name' placeholder='Enter your name')
								input.general-form__field(type='text' name='number' placeholder='Enter your phone')
								input.general-form__field(type='text' name='number' placeholder='Enter your phone')
								.general-form__btn-wrapper
									input.general-form__field.general-form__btn(type='submit' value='Try it')
					.general-col.general-col--right
						.general-info
							h1.general-header Just Balance your Mind & Body
							p.subtitle Create the healthy living for yourself
		section.classes
			.wrapper
				.classes-caption
					h2.secondary-header yoga feature program 
					p.subtitle Our Classes
				.classes-container
					ul.classes-list
						li.classes-list__item
							img.classes-list__img(src='img/classes-1.png' alt='alt')
							.classes-list__text 
								p.classes-list__title Yoga For Health
								p.classes-list__description Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p.classes-list__description.classes-list__description--color Ashtanga - Hatha
						li.classes-list__item
							img.classes-list__img(src='img/classes-2.png' alt='alt')
							.classes-list__text 
								p.classes-list__title Yoga For Lose Weight
								p.classes-list__description Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p.classes-list__description.classes-list__description--color Ashtanga - Hatha
						li.classes-list__item
							img.classes-list__img(src='img/classes-3.png' alt='alt')
							.classes-list__text 
								p.classes-list__title Yoga For Children
								p.classes-list__description Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p.classes-list__description.classes-list__description--color Ashtanga - Hatha
						li.classes-list__item
							img.classes-list__img(src='img/classes-4.png' alt='alt')
							.classes-list__text 
								p.classes-list__title Yoga For Elderly
								p.classes-list__description Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat consectetur adipisicing elit, sed do eiusmod tempor incididunt.
								p.classes-list__description.classes-list__description--color Ashtanga - Hatha
		section.gallery
			.wrapper-big
				ul.gallery-list
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-1.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-2.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-3.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-4.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-5.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-6.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-7.png' alt='alt')
					li.gallery-list__item
						.gallery-hover
							.gallery-hover__search
						img(src='img/photo-8.png' alt='alt')
		section.about
			.wrapper
				.about-col
				.about-col
		section.elements
			.wrapper-big
				.elements-container
					.wrapper
						ul.elements-list
							.elements-list__item
								img.elements-list__img(src='img/icon-1.png' alt='alt')
								p.elements-list__title improved overall health
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							.elements-list__item
								img.elements-list__img(src='img/icon-2.png' alt='alt')
								p.elements-list__title increased concentration
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							.elements-list__item
								img.elements-list__img(src='img/icon-3.png' alt='alt')
								p.elements-list__title blance your mind
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							.elements-list__item
								img.elements-list__img(src='img/icon-4.png' alt='alt')
								p.elements-list__title sleep better
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							.elements-list__item
								img.elements-list__img(src='img/icon-5.png' alt='alt')
								p.elements-list__title weight loss
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							.elements-list__item
								img.elements-list__img(src='img/icon-6.png' alt='alt')
								p.elements-list__title strengthens your bones
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							.elements-list__item
								img.elements-list__img(src='img/icon-7.png' alt='alt')
								p.elements-list__title increased flexibility
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
							.elements-list__item
								img.elements-list__img(src='img/icon-8.png' alt='alt')
								p.elements-list__title lower blood pressure
								p.elements-list__text Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.
		section.shop
			.wrapper
				ul.shop-list
					li.shop-list__item
						.shop-container
							button.shop-button Buy now
						.shop-list__price
							p.shop-list__container
								span $ 
								span 49  
								span / month
						.shop-info
							.shop-info__item.shop-info__item--line entry date: mot – fri
							.shop-info__item.shop-info__item--line entry time: 8a.m – 8p.m
							.shop-info__item nutrition advicer: no
					li.shop-list__item
						.shop-container
							button.shop-button Buy now
						.shop-list__price
							p.shop-list__container
								span $ 
								span 69  
								span / month
						.shop-info
							.shop-info__item.shop-info__item--line entry date: mot – fri
							.shop-info__item.shop-info__item--line entry time: 8a.m – 8p.m
							.shop-info__item nutrition advicer: yes
					li.shop-list__item
						.shop-container
							button.shop-button Buy now
						.shop-list__price
							p.shop-list__container
								span $ 
								span 99  
								span / month
						.shop-info
							.shop-info__item.shop-info__item--line entry date: mot – sun
							.shop-info__item.shop-info__item--line entry time: 8a.m – 8p.m
							.shop-info__item nutrition advicer: yes
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
		script(src='js/slick.min.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js')
		script(src='js/common.js')
						

						








						 

			